

div{

    padding:3rem ;
}

div:first-of-type{
    background-color: tomato;
}
div:nth-child(2){
    background-color: yellow;
}
div:last-of-type{
    background-color: aqua;
}

/*Media queries*/
@media screen and (min-width:750px){
   div:first-of-type{
    background-color: pink;
 }
}
@media screen and (min-width:1000px){
    div:first-of-type{
     background-color: rgb(29, 4, 35);
  }

  div:nth-child(2){
    background-color:violet ;
  }
 }